

.tile {
	
	-fx-background-radius: 10; 
	-fx-background-color: #666666; 
	-fx-border-radius: 10;
	
	-fx-effect: dropshadow( one-pass-box , black , 8, 0 , 3 , 3	);
	-fx-padding: 10;
	-fx-background-insets: 10 20 10 20;
}

.digital-font {
	-fx-font-family: "Let's go Digital";
	-fx-font-size: 40;
}